<div class="container">
    <div class="row">
        <div class="ml-auto mr-auto" style="margin-top: 5%; margin-bottom: 32%;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Address</td>
                            <td>Pincode</td>
                            <td>Phone Number</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td>{{this.deliveryDetails.Country}}
                                {{this.deliveryDetails.State}}</td>
                            <td>{{this.deliveryDetails.Pincode}}</td>
                            <td>{{this.deliveryDetails.Phone}}</td>
                            <td>{{this.totalAmount}}</td>
                            <td>{{this.paymentMethod}}</td>
                            <td>{{this.status}}</td>
                            <td>
                                <a href="/view-order-products/{{this._id}}" class="btn btn-info"> View Products</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>